@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?s8f2ge');
	src:  url('fonts/icomoon.eot?s8f2ge#iefix') format('embedded-opentype'),
	      url('fonts/icomoon.ttf?s8f2ge') format('truetype'),
	      url('fonts/icomoon.woff?s8f2ge') format('woff'),
	      url('fonts/icomoon.svg?s8f2ge#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.title:before,
.title:after,
.title-inner:after,
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.title:before,
.icon-blockly-divider-begin:before {
	content: "\e900";
}

.title-inner:after,
.icon-blockly-divider-middle:before {
	content: "\e901\e901\e901\e901\e901\e901\e901\e901\e901\e901\e901\e901";
}

.title:after,
.icon-blockly-divider-end:before {
	content: "\e902";
}

.container {
	margin: auto;
	max-width: 960px;
}

.section-1 {
	color: #da4453;
}

.section-2 {
	color: #8cc152;
}

.section-3 {
	color: #4a89dc;
}

.title {
	position: relative;
	text-transform: uppercase;
}

.title-inner {
	display: inline-block;
	position: relative;
	overflow: hidden;
	vertical-align: top;
}

.title:before,
.title:after,
.title-inner:after {
	font-size: 81px;
	position: absolute;
}

.title:before {
	bottom: -10px;
	left: -10px;
}

.title:after {
	bottom: -10px;
}

.title-inner:after {
	bottom: -10px;
	left: 71px;
}